.group {
    flex: 1 1 auto;
}

.logout {
    text-decoration: none;
}

#userinfo {
    text-decoration: none;
    margin-right: 10px;
    color: White;
}

#dashboard {
    text-decoration: none;
    margin-right: 10px;
    color: White;
}