<mat-card class="example-card">
    <a routerLink="/login"><button color="warn" type="button" mat-icon-button>
            <mat-icon>arrow_backward</mat-icon>
        </button></a>
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <h1 class="login">REGISTER PAGE</h1>
    </mat-card-header>

    <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <div class="example-container">

            <h2 class="email">Full Name</h2>
            <mat-form-field appearance="outline">
                <mat-label>Full Name</mat-label>
                <input formControlName="fullname" matInput type="text" placeholder="Ex. John Doe" required>
            </mat-form-field>

            <h2 class="email">Email</h2>
            <mat-form-field appearance="outline">
                <mat-label>Enter your email</mat-label>
                <input formControlName="email" matInput placeholder="pat@example.com" [email]="true" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <h2 class="email">Password</h2>
            <mat-form-field appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input type="password" formControlName="password" required matInput [type]="hide ? 'password' : 'text'">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <h2 class="email"> Confirm Password</h2>
            <mat-form-field appearance="outline">
                <mat-label>Confirm your password</mat-label>
                <input type="password" formControlName="confirmpassword" required matInput
                    [type]="hide ? 'password' : 'text'">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="confirmpassword.invalid">{{getpasswordErrorMessage()}}</mat-error>
            </mat-form-field>

        </div>
        <mat-card-actions class="buttons">
            <button mat-stroked-button color="primary" type="submit" [disabled]="signupForm.invalid">Register</button>
            <button mat-stroked-button color="warn" class="clear" type="reset">Clear</button>
        </mat-card-actions>
    </form>
</mat-card>