<div mat-dialog-title>
    <h1>Employee Form</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <button color="warn" type="button" class="closeButton" mat-icon-button (click)="closeForm()">
            <mat-icon>close</mat-icon>
        </button>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput type="text" placeholder="Ex. John" formControlName="firstName" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Ex. Doe" formControlName="lastName" required>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" name="email" placeholder="Ex. johndoe@gmail.com" formControlName="email"
                    [email]="true" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Date of Birth</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dob" required>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-radio-group aria-label="Select an option" formControlName="gender" required>
                <mat-label><b>Gender</b></mat-label>
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
                <mat-radio-button value="others">Others</mat-radio-button>
                <mat-error *ngIf="formSubmitted && empForm.controls['gender'].invalid">Gender is required</mat-error>
            </mat-radio-group>

        </div>



        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Education</mat-label>
                <mat-select formControlName="education" required>
                    <mat-option *ngFor="let val of education" [value]="val">{{val}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Company Name</mat-label>
                <input matInput placeholder="Ex. Google" formControlName="company" required>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Experience</mat-label>
                <input matInput placeholder="Ex. 4 years" formControlName="experience" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Salary</mat-label>
                <input type="number" matInput placeholder="Ex. 20000" formControlName="salary" required>
            </mat-form-field>

        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="reset" (click)="clearForm()">Clear</button>
        <button mat-raised-button color="accent" type="submit">{{data ? 'Update': 'Save'}}</button>

    </div>


</form>